body {
    font-family: "VT323", monospace;

    background-color: #63B1BC;
    margin: 0;
    padding: 0;
    background-image: url(../images/binary-loop.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: brightness(70%) blur(1px);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 250px;
    background-color: #aaa;
    padding: 10px 40px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-top: 20px;
}

.links {
    display: flex;
    gap: 25px;
    font-size: 25px;
    background-color: #1F2A44;
    padding: 16px 32px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.links li a {
    color: #fff;
    padding: 10px;
    border-radius: 12px;
    background-color: #2c747e;
    cursor: pointer;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.links li a::before {
    content: '';
    display: inline-block;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.links li #link_conversor::before {
    background-image: url(../images/conversor-icone.png);
    margin-right: 1px;
}

.links li #link-calculadora::before {
    background-image: url(../images/calculadora-icone.png);
}

.links li:hover a {
    background-color: #225b63;
}

#link-calculadora img {
    width: 25px;
}

#container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

h1 {
    color: #fff;
    font-size: 64px;
}

input[type="text"] {
    padding: 8px;
    font-size: 30px;
    border-radius: 8px;
    width: 360px;
    height: 60px;
    font-family: "VT323", monospace;
}

h3 {
    color: #fff;
    font-size: 36px;
}

.basesConverter {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 12px;
    min-height: 50px;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']+label {
    background-color: #eee;
    padding: 10px;
    border-radius: 15px;
    transition: .2s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px #ccc;
    font-size: 30px;
}

input[type='checkbox']+label:hover {
    background-color: #ccc;
    box-shadow: 0 4px #bbb;
}

input[type='checkbox']:checked+label {
    position: relative;
    top: 6px;
    background-color: #aaa;
    box-shadow: 0 -4px #999;
    height: 48px;
}

select,
#btn-converter {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "VT323", monospace;
}

select {
    width: 180px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
    transition: .15s ease-in-out;
}

select:hover {
    background-color: #ccc;
}

#btn-converter {
    background-color: #ED145B;
    color: #FFFFFF;
    border: none;
    font-size: 26px;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    transition: .15s ease-in-out;
}

#btn-converter:hover {
    background-color: #EFB661;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    font-size: 26px;
}

#divHistorico {
    display: none;
    background-color: #ccc;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
}

#divHistorico h3 {
    text-decoration: underline 2px;
    color: #222;
    margin-bottom: 10px;
}

#historico {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    font-size: 20px;
}

.registro {
    text-align: left;
    padding-bottom: 15px;
}

.registro:first-child {
    padding-bottom: 0;
}

.registro p {
    margin-bottom: 5px;
}

.registro+.registro {
    border-bottom: 2px solid #000;
}

.registroConversao {
    display: flex;
}

.registroConversao p {
    padding-right: 5px;
}

.registroConversao p+p {
    border-left: 2px solid #000;
    padding-left: 5px;
}